* text eol=lf
*.txt text eol=crlf
docs/.vuepress/public/llms.txt text eol=lf
docs/.vuepress/public/robots.txt text eol=lf

*.png binary
*.jpg binary
*.jpeg binary
*.ico binary
*.gif binary
*.ttf binary
*.woff binary
*.woff2 binary
